@(title: String, servers: List[String])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    <header>
        <a href="@routes.Application.index" id="logo"><span>Slogger</span>web</a>
        <dl id="user">
            <dt>UserName 123123<span>email</span></dt>
            <dd>

            </dd>
        </dl>
    </header>
    <nav>
        <h4 class="dashboard"><a href="#/">Dashboard</a></h4>
        <ul id="projects">
            @DatabaseHelper.distinctServers.map { server =>

            <li data-project="@server">
                <a class="name" href="@routes.Application.server(server)">@server</a>
                <span class="loader">Loading</span>
            </li>

            }
        </ul>
    </nav>
    <section id="main">
        @content
    </section>
    </body>
</html>
